footer{
    padding:1rem;
    background-color:$dark-gray;
    z-index:-1;

    & ul{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        justify-content:space-around;
        padding-left:0;
        @media (max-width:$breakpoint-mobile){
            flex-direction: column;
            display: flex;
            gap: 0.4rem;
            align-items: flex-start;
            padding-left:1rem;
            }
        }
        & h2{
            padding:0;
            font-weight: 300;
            font-size: 1.5rem;
        }
        & li{
            list-style: none;
            color:white;
            padding-bottom:0.3rem;


        }
}

.footer-bloc{
    display:flex;
    align-items:center;
    gap:1rem;
    & i{
        width:0.5rem;
    }
    & p{
        margin:0rem;
    }
}