/* HEADER */
header{
    padding-top:1rem;
    padding-bottom:0.4rem;
    text-align: center;
    // @include card-shadow;
    position: relative;
    /* relative = naturelle si je ne mets pas cette instruction je perds ma shadow sur la box */
}

.homepage{
    @include card-shadow;
}

.rests__location{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    font-size:1.2rem;
    font-weight: bold;
    color:$dark-gray;
    background-color: $light-gray;
}