.intro{
    text-align: center;
    // background-image: linear-gradient(to top, #efefef, #f3f3f3, #f7f7f7, #fbfbfb, #ffffff);
    background-image: linear-gradient(to top, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
    padding-bottom:4rem;
    padding-top:1rem;
}

.intro__text p{
    font-size: 1.3rem;
    font-weight: 350;
}