main{
    padding:0rem;
    margin-top:2rem;
}

a{
    color:inherit;
    text-decoration: none;
}
.loader{
    height:100vh;
    position:fixed;
    inset:0;
    background-color: $light-grey;
    border:6px solid $secondary-color;
    z-index: 2;
    opacity:1;
    animation: pop-up_out 1s ease-in 3s;
    animation-fill-mode:forwards;
    animation-delay:1s;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0.8;
    & .spin{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border-top: 16px solid purple;
        border-right: 16px solid pink;
        border-bottom: 16px solid cyan;
        border-left: 16px solid gray;
        animation: spin 3s infinite;

    }
    
}
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@keyframes pop-up_out{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(0);
    }
}