/* RESULTS SECTION */
.results{
    background-color: #f2f2f2;
    padding-bottom: 1rem;
    border-radius: 2rem;
    margin:2rem 0rem 2rem 0rem;
    & h2{
        padding-left:1.5rem;
    }
}

.results-cards{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:1rem;
    transition:all 100ms ease-in;
    }


.result-card--new{
    position: relative;
    display:block;
        &::before{
        content:"Nouveau";
        position: absolute;
        height:2rem;
        width:6rem;
        color:green;
        background-color: $tertiary-color;
        top:2rem;
        right:2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:0.2rem;
        }
}

.result-card{
    background-color: white;
    border-radius:1.3rem;
    -webkit-box-shadow: -1px 5px 10px 0px rgba(138,134,134,0.75);
    min-width:40%;
    position:relative;
    transition:all 100ms ease-in;
    margin-bottom:2rem;
    & img{
        width:100%;
        height:10rem;
        border-radius: 1.3rem 1.3rem 0rem 0rem;
        object-fit: cover;
    }
}
.result-card:hover{
    transform:scale(1.1);
}
.result-card__content{
    padding:0.2rem 1rem;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    & p{
        margin-top:0.2rem;
        }
        &::before{
            display:inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 400; 
            content:"\f004";
            font-size:2rem;
            position:absolute;
            right:1rem;
            transform:translate(-50%);
            color:inherit;
            background-clip:text;
            -webkit-background-clip: text;
            opacity:1;
            transition: all 200ms ease-in-out;   
            }
            &::after{
                display:inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content:"\f004";
                font-size:2rem;
                position:absolute;
                right:1rem;
                transform:translate(-50%);
                color:transparent;
                background: linear-gradient(to right bottom, #ff79d9, #e96eda, #d064db, #b35cdc, #9356dc);
                background-clip:text;
                -webkit-background-clip: text;
                opacity:0;
                transition: all 200ms ease-in-out;    
                }
                    &:hover::after{
                        opacity:1;
                    }
}
// MEDIA QUERIES
@media (max-width:$breakpoint-mobile){
    .result-card{
        width:100%;
    }
    .results{
        border-radius:0;
        box-shadow:none;


    }
}