.rests-xplor{
    text-align: center;
    background-image: linear-gradient(to top, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
    padding:4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p{
        font-weight:350;
        font-size:1.2rem;
    }
    & span{
        font-size:1rem;
    }
}