.rests-xplor{
    text-align: center;
    background-image: linear-gradient(to top, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
    padding-bottom:4rem;
    padding-top:1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    // ATTENTION remplacer par padding : et les 4 valeurs ici
}