@charset "UTF-8";
/*gris : du + foncé au + clair*/
/*gris Argile*/
/*gris whitesmoke*/
/*choisir et ajuster tailles*/
/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  max-width: 100%;
  /*mettre plutot width en 100%*/
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

footer h2 {
  font-family: "Shrikhand", cursive;
}

h3 {
  margin: 0;
}

p {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 700px) {
  main {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 1000px) {
  main {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
}
/* BUTTONS */
.xplor__button {
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: -0.125rem 0.375rem 0.625rem hsla(0deg, 0%, 0%, 0.2);
  height: 3rem;
  width: 14rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 450;
  padding: 0.7rem 1.4rem;
  margin-left: 3rem;
  margin-right: 4rem;
  margin-top: 2rem;
  text-align: center;
  background: rgb(255, 121, 217);
  background-image: linear-gradient(to right bottom, rgb(255, 121, 217) 0%, rgb(147, 86, 220) 100%);
}
.xplor__button span {
  font-size: 1rem;
}
.xplor__button:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in;
  background: rgb(255, 121, 217);
  background-image: linear-gradient(to right bottom, rgba(255, 121, 217, 0.5) 0%, rgba(147, 86, 220, 0.5) 100%);
  cursor: pointer;
  -webkit-box-shadow: -0.125rem 0.375rem 0.625rem hsla(0deg, 0%, 0%, 0.4);
}

@keyframes heart-filling {
  0% {
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
}
.rest__heart::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.8rem;
  position: absolute;
  right: 2rem;
  transform: translate(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.rest__heart::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.8rem;
  position: absolute;
  right: 2rem;
  transform: translate(-50%);
  color: transparent;
  background: linear-gradient(to right bottom, #ff79d9, #e96eda, #d064db, #b35cdc, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.rest__heart:hover::after {
  opacity: 1;
}

.loader {
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: #EFEFEF;
  border: 6px solid #FF79DA;
  z-index: 2;
  opacity: 1;
  animation: pop-up_out 1s ease-in 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.loader .spin {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  border-left: 16px solid #383838;
  animation: spin 3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pop-up_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.menu__item {
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: -0.125rem 0.375rem 0.625rem hsla(0deg, 0%, 0%, 0.2);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  margin: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation: fade-in 3s ease-in;
  animation-fill-mode: both;
  transition: all 1s ease-in-out;
  min-width: 40%;
}
@media (max-width: 700px) {
  .menu__item {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .menu__item {
    min-width: 42%;
  }
}
.menu__item:nth-child(1) {
  animation-delay: 0.5s;
  transition: all 1s ease-in-out;
}
.menu__item:nth-child(2) {
  animation-delay: 1s;
  transition: all 1s ease-in-out;
}
.menu__item:nth-child(3) {
  animation-delay: 1.5s;
  transition: all 1s ease-in-out;
}
.menu__item:hover .item--check {
  margin-right: 0;
}
.menu__item:hover .item--check i {
  transform: rotate(1turn);
  transition: all 500ms;
}

.item__content {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 30%;
  max-width: 70%;
}
.item__content h3, .item__content p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__price {
  font-size: 0.9rem;
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  min-width: 10%;
}

.item--check {
  display: flex;
  width: 4rem;
  color: #99E2D0;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-right: -4rem;
  overflow: hidden;
  transition: all 500ms;
}
.item--check i {
  border-radius: 50%;
  color: #99E2D0;
  background-color: white;
  width: 1.1rem;
  display: flex;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

/* RESULTS SECTION */
.rests-results {
  background-color: #f2f2f2;
  padding-bottom: 1rem;
  border-radius: 2rem;
  margin: 2rem 0rem 2rem 0rem;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 2rem;
}

.rests-results-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  transition: all 100ms ease-in;
}

.rest-card--new {
  position: relative;
  display: block;
}
.rest-card--new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 6rem;
  color: green;
  background-color: #99E2D0;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.rest-card {
  background-color: white;
  border-radius: 1.3rem;
  -webkit-box-shadow: -1px 5px 10px 0px rgba(138, 134, 134, 0.75);
  min-width: 40%;
  position: relative;
  transition: all 100ms ease-in;
  margin-bottom: 2rem;
}
.rest-card img {
  width: 100%;
  height: 10rem;
  border-radius: 1.3rem 1.3rem 0rem 0rem;
  object-fit: cover;
  object-position: center;
  /* pour le choix de la partie à zoomer */
}

.rest-card:hover {
  transform: scale(1.1);
}

.rest__content {
  padding: 0.4rem 0.6rem 1rem 1rem;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.rest__content p {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.rest-card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rest-card__container .rest__heart {
  width: 2rem;
  height: 2rem;
  left: 80%;
  bottom: 10%;
  position: absolute;
}
.rest-card__container .rest__heart::before {
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-size: 1.8rem;
  right: 1.2rem;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
}
.rest-card__container .rest__heart::after {
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.8rem;
  right: 1.2rem;
  color: transparent;
  background: linear-gradient(to right bottom, #ff79d9, #e96eda, #d064db, #b35cdc, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  transform: translateY(-100%);
  cursor: pointer;
}
.rest-card__container .rest__heart:hover::after {
  opacity: 1;
}

@media (max-width: 700px) {
  .rest-card {
    width: 100%;
  }
  .rests-results {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 1000px) {
  .rest-card {
    width: 100%;
  }
  .rests-results {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
  }
}
/* RESTAURANTS ORDERING STEPS */
.rests-search {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 700px) {
  .rests-search .rests-search {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .rests-search h2 {
    padding-left: 1.5rem;
  }
}
.rests-search .search__steps ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  counter-reset: section; /* etape1 : On initialise le compteur à 0 */
  padding-left: 0rem;
}
.rests-search .search__steps i {
  color: #383838;
  font-size: 1.3rem;
}
.rests-search .search__steps .fa-solid {
  margin-right: 0.5rem;
}
.rests-search .search__steps span {
  font-weight: bold;
  font-size: 1rem;
}
.rests-search .search__steps li {
  transition: all 100ms ease-in;
  min-width: 30%;
  list-style-type: none;
  background-color: #F2F2F2;
  border-radius: 1.8rem;
  -webkit-box-shadow: -0.125rem 0.375rem 0.625rem hsla(0deg, 0%, 0%, 0.2);
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
@media (max-width: 700px) {
  .rests-search .search__steps li .search__steps li {
    width: 100%;
    background-color: green;
  }
}
@media (max-width: 1000px) {
  .rests-search .search__steps li .search__steps li {
    width: 100%;
    background-color: green;
  }
}
.rests-search .search__steps li::before {
  counter-increment: section; /* etape2 : On incrémente le compteur section */
  content: counters(section, ".") " "; /* etape 3 : On affiche le compteur*/
  border: 1px solid white;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: #9356DC;
  color: white;
  padding: 0.4rem;
  margin-left: -1.5rem;
  display: flex;
  justify-content: center;
}
.rests-search .search__steps li:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: #F4EEFB;
}
.rests-search .search__steps li:hover i {
  color: #9356DC;
}

.rests-xplor {
  text-align: center;
  background-image: linear-gradient(to top, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rests-xplor p {
  font-weight: 350;
  font-size: 1.2rem;
}

/* HEADER */
header {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  text-align: center;
  position: relative;
  /* relative = naturelle si je ne mets pas cette instruction je perds ma shadow sur la box */
}

.homepage {
  -webkit-box-shadow: -0.125rem 0.375rem 0.625rem hsla(0deg, 0%, 0%, 0.2);
}

.rests__location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #383838;
  background-color: #EFEFEF;
}

main {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media (max-width: 700px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 900px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}
footer {
  padding: 1rem;
  background-color: #383838;
  z-index: -1;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: space-around;
  padding-left: 0;
}
@media (max-width: 700px) {
  footer ul {
    flex-direction: column;
    display: flex;
    gap: 0.4rem;
    align-items: flex-start;
  }
}
footer h2 {
  padding: 0;
  font-weight: 300;
  font-size: 1.5rem;
}
footer li {
  list-style: none;
  color: white;
  padding-bottom: 0.3rem;
}

.footer-bloc {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-bloc i {
  width: 0.5rem;
}
.footer-bloc p {
  margin: 0rem;
}

nav a {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
nav a::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: --fa-font-regular;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  width: 1.25em;
  text-align: center;
  width: 4rem;
  height: 2rem;
  font-size: 2rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 2rem;
  content: "\f060";
  cursor: pointer;
}

.restaurant-pic img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.restaurant-menu {
  margin-top: -3rem;
  z-index: 1;
  background-color: #EFEFEF;
  padding: 3rem 2rem;
  border-radius: 2rem 2rem 0rem 0rem;
}
.restaurant-menu .restaurant__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant-menu h1 {
  padding-left: 0.4rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-family: "Shrikhand", cursive;
}
.restaurant-menu h2 {
  text-transform: uppercase;
  font-weight: 200;
  color: #383838;
  font-size: 1.3rem;
}
.restaurant-menu h3 {
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.restaurant-menu p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.restaurant__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant__categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-category h2::after {
  content: "";
  display: block;
  width: 4rem;
  height: 2px;
  background-color: #99E2D0;
}

@keyframes fade-in {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.8rem;
  min-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
