.homepage__loader{
    height:100vh;
    position:fixed;
    inset:0;
    background-color: $light-gray;
    border:6px solid $secondary-color;
    z-index: 2;
    opacity:1;
    animation: pop-up_out 1s ease-in 3s;
    animation-fill-mode:forwards;
    animation-delay:1s;
    justify-content: center;
    @include flex-center;
    opacity:0.8;
    .homepage__loader--spin{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border-top: 16px solid $primary-color;
        border-right: 16px solid $secondary-color;
        border-bottom: 16px solid $tertiary-color;
        border-left: 16px solid $dark-gray;
        animation: spin 3s infinite;
    }
}

@keyframes spin{
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes pop-up_out{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(0);
    }
}