/* RESULTS SECTION */
.rests-results{
    background-color: #f2f2f2;
    padding-bottom: 1rem;
    border-radius: 2rem;
    margin:2rem 0rem 2rem 0rem;
    // padding-left: 6rem;
    // padding-right: 6rem;
    margin-top: 2rem;
    @media (max-width:$breakpoint-mobile){
 
            padding-left:2rem;
            padding-right:2rem;
        
    }
}


.rests-results h2{
    padding-left:2rem;
}
.rests-results-cards{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:1rem;
    transition:all 100ms ease-in;
    }


.rest-card--new{
    position: relative;
    display:block;
        &::before{
        content:"Nouveau";
        position: absolute;
        height:2rem;
        width:6rem;
        color:green;
        background-color: $tertiary-color;
        top:2rem;
        right:2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:0.2rem;
        }
}

.rest-card{
    background-color: white;
    border-radius:1.3rem;
    -webkit-box-shadow: -1px 5px 10px 0px rgba(138,134,134,0.75);
    min-width:40%;
    position:relative;
    transition:all 100ms ease-in;
    margin-bottom:2rem;
    & img{
        width:100%;
        height:10rem;
        border-radius: 1.3rem 1.3rem 0rem 0rem;
        object-fit: cover;
        object-position:center;
        /* pour le choix de la partie à zoomer */
    }
}
.rest-card:hover{
    transform:scale(1.1);
}
.rest__content{
    padding:0.4rem 0.6rem 1rem 1rem;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    & p{
        margin-top:0.2rem;
        margin-bottom:0;
        }
    }
    

   
@media(max-width:$breakpoint-mobile){
    .rest-card{
        width:100%;}
    .rests-results{
        border-radius:0;
        box-shadow:none;
        margin-bottom:0;
        padding-left:1rem;
        padding-right:1rem;
    }
}
@media(max-width:$breakpoint-tablet){
    .rest-card{
        width:100%;}
    .rests-results{
        border-radius:0;
        box-shadow:none;
        margin-bottom:0;

    }
}