/* RESTAURANTS ORDERING STEPS */
.rests-search{
    // padding-left:2rem;
    // padding-right:2rem;
    @media (max-width:$breakpoint-mobile){
        padding-left:2rem;
        padding-right:2rem;
    }
    @media (max-width:$breakpoint-tablet){
        padding-left:2rem;
        padding-right:2rem;
    }
}

.rests-search h2{
    padding-left:2rem;
    @media (max-width:$breakpoint-mobile){
        padding-left:0rem;
    }
    @media (max-width:$breakpoint-tablet){
        
    }
}

.search__steps{
    & ol{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    counter-reset: section; /* etape1 : On initialise le compteur à 0 */
    padding-left:0rem;
    @media (max-width:$breakpoint-mobile){
        gap:1rem;
    }
    @media (max-width:$breakpoint-tablet){
        gap:1rem;
    }
    }
    & i{
        color:$dark-gray;
        font-size:1.3rem;
    }
    & .fa-solid{ 
        margin-right:0.5rem;
    }
    & span{
        font-weight:bold;
        font-size:1rem;
    }
}

.search__steps li{
    transition:all 100ms ease-in;
    min-width: 30%;
    list-style-type: none;
    background-color: #F2F2F2;
    border-radius:1.8rem;
    @include card-shadow;
    padding:1rem;
    flex-grow:1;
    display: flex;
    align-items: center;
    gap:0.6rem;
    @media (max-width:$breakpoint-mobile){
        .search__steps li{
        width:100%;
        background-color: green;
        }
    }
    @media (max-width:$breakpoint-tablet){
        .search__steps li{
        width:100%;
        background-color: green;
        }
    }
    &::before{
        counter-increment: section; /* etape2 : On incrémente le compteur section */
        content: counters(section,".") " ";/* etape 3 : On affiche le compteur*/
        border:1px solid white;
        border-radius: 50%;
        height:1rem;
        width:1rem;
        background-color:$primary-color;
        color:white;
        padding:0.4rem;
        margin-left:-1.5rem;
        display:flex;
        justify-content: center;
        }
        &:hover{
            transform:scale(1.1);
            cursor: pointer;
            background:$light-purple;
            i{
                color:$primary-color;
            }
        }
    }
