body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
}
h2{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
}
footer h2{
    font-family: 'Shrikhand', cursive;
}



