/* GENERAL */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    /*mettre plutot width en 100%*/
    margin:0 auto;
}

h3{
    margin:0;
}
h2{
    margin-bottom: 1rem;
    padding-top:2rem;
}