$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$light-purple:#F4EEFB;

/*gris : du + foncé au + clair*/
$dark-gray:#383838; /*dimgrey : gris mat*/
$light-gray:#EFEFEF; /*gris Argile*/
$lighter-gray:#F5F5F5;/*gris whitesmoke*/

/*choisir quelle mediaquerie garder et ajuster tailles*/
$breakpoint-mobile:700px;
$breakpoint-tablet:900px;
$breakpoint-desktop:1200px;
