$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$light-purple:#F4EEFB;


$dark-gray:#383838; 
$light-gray:#EFEFEF; 
$lighter-gray:#F5F5F5;


$breakpoint-mobile:700px;
$breakpoint-tablet:900px;
